<div class="row">
  <div class="col-xs-12">
    <h1>Emails</h1>

    <%= render :partial => "layouts/messages" %>

    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Team</th>
          <th>Restaurant</th>
          <th>Rating</th>
          <th>Token</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @correspondences.size == 0 %>
          <tr>
            <td colspan="8">No records found</td>
          </tr>
        <% end %>
        <% @correspondences.each do |correspondence| %>
          <tr>
            <td><%= correspondence.email %></td>
            <td><%= correspondence.name %></td>
            <td><%= correspondence.team %></td>
            <td><%= correspondence.restaurant.name %></td>
            <td><%= correspondence.rating %></td>
            <td><%= correspondence.token %></td>
            <td><%= link_to 'View Email', correspondence %></td>
            <td><%= link_to 'Delete', correspondence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <script>
      $('.nav-correspondence').addClass('active')
    </script>
  </div>
</div>